html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


:root {
    --primary-text-color: #757575;
    --section-title-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --fotter-link: rgba(255, 255, 255, 0.6);


}
  
/* --------RESET------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

/* ----------загальні--------- */


body {
    background-color: #E5E5E5;
    color:var(--primary-text-color) ;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;   
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title {
    color:var(--section-title-color);
    text-transform: uppercase;

}

.section-title {
    height: 42px;
    margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    
        color:var(--section-title-color)
}

ul {
    list-style: none;
} 

.link {
    text-decoration: none;
}

/* heder */
/* логотип */



.container-header {

    display: flex;
      border-bottom: 1px solid #ECECEC;

}

.header {
    background: #FFFFFF;

}

.logo {
    padding-top:24px ;
   

    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--section-title-color);
        text-decoration: none;
}
.logo .blue-part,
.footer-logo .blue-part {
    color: var(--accent-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1, 19;
        color: var(--white-color);
        text-decoration: none;
}

/* site naw */




.site-nav .link {
    color: var(--section-title-color);
    
}

.site-nav .link:hover,
 .site-nav .link:focus {
    color: var(--accent-color);
 }
 .site-link .link,
 .site-nav .link {
     display: inline-block;
     padding-top: 32px;
     padding-bottom: 32px;
     margin: 0 auto;
 }



/* посилання у шапці  */
.site-link .link {
color: var(--primary-text-color);
}

.site-link .link:hover,
.site-link .link:focus {
color:var(--accent-color);
}

/* спільне для усіх посилань шапки */
.site-link,
.site-nav {
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em; 
         display: flex;
         margin: 0;

}
/* хедер закрито */


 
/* main */

/* герой */

.container-hero {

 margin-bottom: 94px;

    border: 2px solid tomato;
}

.hero {
    padding-top: 200px;
    padding-bottom: 210px;
    text-align: center;
   background: #2F303A;
}

    

.hero-title {
    margin-bottom:30px ;
    margin-top: 0px;
           font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        margin: 0 auto;

    max-width: 696px;    
     
}
       
/* button */
.hero .hero-button {
    display: block;
    height: 50px;
    width: 200;
    margin: 0 auto;
    padding: 10px  34px;
        border-radius: 4px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;

        background-color: #2196F3; 

        cursor: pointer;   
}


.hero .hero-button:hover,
.hero .hero-button:focus {
    background: #188CE8;
}



 /* cпільне для банера */
 .hero-button,
 .hero-title {
     color: var(--white-color);
     letter-spacing: 0.06em;
  
 } 
 /* герой закрито */

 /* перша секція */

 .preferences {
    display: flex;
 }
 
 .section-preferences {
     padding-top: 94px;
     padding-bottom: 94px;
 }

 .container-preferences {
     
     padding-left: 0;
    border: 2px solid tomato;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }


.preferences-title {
    height: 16px;
    width: 270px;
    margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--section-title-color)
}
.preferences-text {
    height: 75px;
    width: 270px;
        font-size: 14px;
        line-height: 1.71;
 }
 /* перша секція закрито */


 /* -----------WORKS--------- */

.works {
 margin-bottom: 94px;
}


.works-container {

      border: 2px solid tomato;
          padding-left: 0;
         
}

.work-list {
     display: flex;
}

.works-title {
    width: 376;

}



/* наша команда */

.team-list {
  padding-left: 0;
}

.team-container {
border: 2px solid tomato;
  margin-bottom: 94px;
        margin-top: 188px;
}

.our-team {
background: #F5F4FA;

}

.name {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;

}

.position {
        font-size: 14px;
        line-height: 1.71px;

}

/* наша команда end */
/* main end */


/* footer */

.footer-container {
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer {
    background: #2F303A;
}

.address {
    margin-top: 20px;
    color: #ffffff;
}

.kuyiv-address {
    margin-bottom: 9px;
}

.address .link {
    display: block;
    width: 231px;
    color: var(--fotter-link);
    font-style: normal;
}

.tell-link {
    margin-top: 9px;
}

.address-link .link,
.address {
font-size: 14px;


}


/* додатково для портфоліо */
 
/* filter button */

.portfolio-cnt {
    margin-top: 94px;
    margin-bottom: 94px;
}

.filter {
    display: flex;
}

.filter-button {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 50px;


    font-weight: 500;
        font-size: 16px;
        line-height:1.62;
        color: var(--section-title-color);
        cursor: pointer;
        background: #F5F4FA;
}
.filter-button:hover,
.filter-button:focus {
    font-family: inherit;

    color: var(--white-color);
    background-color: var(--accent-color);
}
 /* filter button end */
 
 /* приклади */
.exampls .title {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
} 

.exampls .kind {
        font-size: 16px;
        line-height: 1.87;
        color: var(--primary-text-color);
}


 .address-link .link:hover, 
 .address-link .link:focus {
     color: var(--accent-color);
 }

 /* правкі */
.site-nav .current {
    color: var(--accent-color);
}
.filter .current {
background-color: var(--accent-color);
color: var(--white-color);
}

.exampls .title {

}